In [26]:
from scipy import stats
import warnings 
warnings.filterwarnings("ignore")
import pandas as pd 
import numpy as np

In [2]:
stats.norm.cdf

In [3]:
stats.norm.cdf(1,loc=60,scale=10)

1.8175078630994235e-09

In [4]:
mean= 1

In [5]:
std=10

In [6]:
stats.norm.cdf(680,loc=711,scale=29)

0.14254260383881612

In [7]:
stats.norm.cdf(740,loc=711 ,scale=29)

0.8413447460685429

In [8]:
stats.norm.cdf(740,loc=711 ,scale=29)-stats.norm.cdf(697,loc=711,scale=29)

0.5267111786415019

In [9]:
df=pd.read_csv('E:\prinka class/BEML.csv')
df

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1121.00,1151.00,1121.00,1134.00,1135.60,101651.0,1157.18
1,2010-01-05,1146.80,1149.00,1128.75,1135.00,1134.60,59504.0,676.47
2,2010-01-06,1140.00,1164.25,1130.05,1137.00,1139.60,128908.0,1482.84
3,2010-01-07,1142.00,1159.40,1119.20,1141.00,1144.15,117871.0,1352.98
4,2010-01-08,1156.00,1172.00,1140.00,1141.20,1144.05,170063.0,1971.42
...,...,...,...,...,...,...,...,...
1734,2016-12-26,965.00,965.05,935.00,950.10,950.25,398696.0,3783.63
1735,2016-12-27,960.70,989.00,952.35,974.00,975.70,808561.0,7885.14
1736,2016-12-28,980.75,985.00,970.15,977.00,974.40,367041.0,3592.49
1737,2016-12-29,977.10,997.95,974.55,985.15,986.05,555233.0,5489.14
1738,2016-12-30,986.00,1006.95,985.90,1004.00,1000.60,460675.0,4606.48

In [10]:
df2=pd.read_csv('E:\prinka class/GLAXO.csv')
df2

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11
...,...,...,...,...,...,...,...,...
1734,2016-12-26,2703.00,2740.00,2677.00,2715.0,2723.50,3953.0,107.15
1735,2016-12-27,2722.95,2725.00,2683.00,2692.0,2701.75,10600.0,286.10
1736,2016-12-28,2701.75,2718.00,2690.00,2698.0,2702.15,6050.0,163.44
1737,2016-12-29,2702.05,2739.00,2691.95,2710.0,2727.90,7649.0,207.87
1738,2016-12-30,2730.00,2740.45,2705.00,2730.0,2729.80,6513.0,177.65

# To see two coloumn

In [11]:
df = df[["Date",'Close']]
df

            Date    Close
0     2010-01-04  1135.60
1     2010-01-05  1134.60
2     2010-01-06  1139.60
3     2010-01-07  1144.15
4     2010-01-08  1144.05
...          ...      ...
1734  2016-12-26   950.25
1735  2016-12-27   975.70
1736  2016-12-28   974.40
1737  2016-12-29   986.05
1738  2016-12-30  1000.60

[1739 rows x 2 columns]

In [12]:
df2 = df2[["Date",'Close']]
df2

            Date    Close
0     2010-01-04  1625.65
1     2010-01-05  1616.80
2     2010-01-06  1638.50
3     2010-01-07  1648.70
4     2010-01-08  1639.80
...          ...      ...
1734  2016-12-26  2723.50
1735  2016-12-27  2701.75
1736  2016-12-28  2702.15
1737  2016-12-29  2727.90
1738  2016-12-30  2729.80

[1739 rows x 2 columns]

In [24]:


import scipy.stats as st
df3=pd.read_csv('E:\prinka class/GLAXO.csv')

In [14]:
# define sample dat
df22 = stats.norm.interval(0.95,
loc = df3.gain.mean(),
scale = df3.gain.std())
print( 'Mean at 95% confidence interval is:', np.round(df3_ci, 4))

AttributeError: 'DataFrame' object has no attribute 'gain'

In [ ]:
# create 90% confidence interval
# for population mean weight
st.norm.interval(alpha=0.95,
				loc=np.mean(gfg_data),
				scale=st.sem(gfg_data))

In [15]:
1-stats.t.cdf( 2.2371,79) ##( 79 is the digree of freedom )

0.014049106772932807

In [16]:
10/4.47

2.237136465324385

In [19]:
1-stats.t.cdf( 3.5,79)

0.00038394690061949177

In [20]:
data= pd.Series([0.593, 0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418])

In [21]:
stats.ttest_1samp(data,0.3)

Ttest_1sampResult(statistic=2.2050588385131595, pvalue=0.05853032968489765)

In [28]:
from scipy import stats

In [32]:
p=stats.ttest_1samp(data,0.3)[1]
p_value=p/2

In [33]:
a=pd.Series([91,87,99,77,88,91])
b=pd.Series([101,110,93,99,104])

In [34]:
stats.ttest_ind(a,b)

Ttest_indResult(statistic=-3.0597643584139806, pvalue=0.013576793589315841)

# Proportion test

In [36]:
n1=247
p1=0.37

n2=308
p2=0.39

In [37]:
population1= np.random.binomial(1,p1,n1)
population2 =np.random.binomial(1,p2,n2)

In [38]:
population1.mean()

0.3522267206477733

In [39]:
population2.mean()

0.35064935064935066

In [40]:
population1

array([1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 1])

In [41]:
population2

array([1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0])

In [42]:
import statsmodels.api as sm
sm.stats.ttest_ind(population1, population2)

(0.03861464141805198, 0.9692115646308037, 553.0)

In [ ]:
import statsmodels.api as sm 
alpha=0.5
population1 = np.random.binomial(1,p1,n1)
population2= np.random.binomial(1,p2,n2)
x=sm.stats.ttest_ind(population1,population2)[1]
print (round(x,3))
if x>alpha